<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

  <h1>
    VUTTR
  </h1>

  <h2>Very Useful Tools Remember</h2>


  <div class="header">
    <div class="form-search">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="strSearch" matInput placeholder="Search" (keyup)="onSearch($event)">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="tagChecked" (change)="onSearch($event)">Search in tags only</mat-checkbox>
    </div>
    <div class="fab">
      <button mat-raised-button (click)="openDialog()"> <mat-icon>add</mat-icon> Add</button>
    </div>
    <div style="clear: both;"></div>
  </div>

  <mat-card *ngFor="let tool of tools" style="margin-bottom: 20px;">
    <h3 matLine>
       
      <a [href]="tool.link">
        {{tool.title}}
      </a>
    </h3>
   <div class="fab">
    <button mat-button color="warn" (click)="openRemoveDialog(tool)"> <mat-icon>close</mat-icon> Remove</button>
  </div>
    <p matLine>
      <span> {{tool.description}} </span>
    </p>
    <p matLine>
      <span *ngFor="let tag of tool.tags"><app-tag [tag]="tag" [search]="tagChecked ? strSearch : '' "></app-tag></span>
    </p>
  </mat-card>

</div>

<router-outlet></router-outlet>
